body
{
    margin: 0 !important;
}

#code
{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: Courier New, Courier, Lucida Sans Typewriter;
    font-size: 22px;

	resize: none;
}

#code-wnd
{
    width: 99.5%;
    height: 99.5%;
}

hr
{
    opacity: 0.2;
    margin: 0;
}

@media (min-width: 768px)
{
    #code-wnd
    {
        margin-left: auto;
        margin-right: auto;
    }
}