
.icon-rocket:before { content: '\e800'; } /* '' */
.icon-file-code:before { content: '\e801'; } /* '' */
.icon-bug:before { content: '\e802'; } /* '' */
.icon-cubes:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-cog-alt:before { content: '\e808'; } /* '' */